@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Black Ops One";
  src: url("_fonts/BlackOpsOne-Regular.ttf");
}

.acm {
  font-family: "Black Ops One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.test-border {
  border: 5px solid red;
}
